---
import {
  AWARDS,
  CANONICAL_HOME,
  COPYRIGHT,
  DESC,
  DOMAIN,
  EXPERIENCES,
  FAQS,
  FAVICON,
  FULL_DOMIAN,
  GREETINGS,
  HASHNODE,
  HELLO,
  MAIL,
  MAIL_TO,
  MORE_QUESTIONS,
  OG_TYPE,
  PIXEL_PERFECT,
  PROJECTS,
  SKILLS,
  SOCIALS,
  THUMB,
  TITLE,
  TWITTER_CARD,
  USERNAME,
  YEAR,
} from "@/constants/data";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />

    <title>{TITLE}</title>
    <meta name="description" content={DESC} />
    <link rel="icon" type="image/svg+xml" href={FAVICON} />

    <link rel="canonical" href={CANONICAL_HOME} />

    <meta property="og:url" content={FULL_DOMIAN} />
    <meta property="og:type" content={OG_TYPE} />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESC} />
    <meta property="og:image" content={THUMB} />

    <meta name="twitter:card" content={TWITTER_CARD} />
    <meta property="twitter:domain" content={DOMAIN} />
    <meta property="twitter:url" content={FULL_DOMIAN} />
    <meta property="twitter:title" content={TITLE} />
    <meta property="twitter:description" content={DESC} />
    <meta property="twitter:image" content={THUMB} />

    <meta name="theme-color" content="#537653" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <center>
        <h1 class="my-12">{HELLO}</h1>
      </center>

      <h3>👤 ABOUT</h3>
      <hr />
      <p>
        {GREETINGS}
      </p>
      <p>
        {DESC}
      </p>
      <p>
        {PIXEL_PERFECT}
      </p>
      <a href={HASHNODE.LINK} target="_blank" rel="noopener noreferrer">
        {HASHNODE.OPTIONAL}
      </a>
    </header>

    <main>
      <section>
        <h3>💻 WORK</h3>
        <hr />
        {
          PROJECTS.map(({ LABEL, LINK, YEAR }) => (
            <p class="flex space-between">
              <span>
                -
                <a href={LINK} target="_blank" rel="noopener noreferrer">
                  {LABEL}
                </a>
              </span>
              <span>{YEAR}</span>
            </p>
          ))
        }
      </section>

      <section>
        <h3>💼 EXPERIENCES</h3>
        <hr />
        {
          EXPERIENCES.map(({ DESG, LABEL, YEAR }) => (
            <p class="flex space-between">
              <span>
                - <strong>{LABEL}</strong>
                <br />
                &nbsp; {DESG}
              </span>
              <span>{YEAR}</span>
            </p>
          ))
        }
      </section>

      <section>
        <h3>🏆 AWARDS & RECOGNITION</h3>
        <hr />
        {
          AWARDS.map(({ AWARD, LABEL, LINK, YEAR }) => (
            <p class="flex space-between">
              <span>
                -
                <a href={LINK} target="_blank" rel="noopener noreferrer">
                  <strong>{AWARD}</strong>
                </a>
                <br />
                &nbsp; {LABEL}
              </span>
              <span>{YEAR}</span>
            </p>
          ))
        }
      </section>

      <section>
        <h3>🔨 SKILLS</h3>
        <hr />
        {SKILLS.map((skill) => <p>- {skill}</p>)}
      </section>

      <section>
        <h3>🌐 SOCIALS</h3>
        <hr />
        {
          SOCIALS.map(({ LABEL, LINK }) => (
            <p class="flex space-between">
              <span>- {LABEL}</span>
              <a href={LINK} target="_blank" rel="noopener noreferrer">
                @{USERNAME}
              </a>
            </p>
          ))
        }
      </section>

      <section>
        <h3>🙋 FAQS</h3>
        <hr />
        {
          FAQS.map(({ q, a }) => (
            <p>
              <span class="flex">
                <span>Q:&nbsp;</span>
                <span>{q}</span>
              </span>
              <span class="flex">
                <span>A:&nbsp;</span>
                <span>{a}</span>
              </span>
            </p>
          ))
        }
        <p>
          <span class="flex">
            <span>Q:&nbsp;</span>
            <span>{MORE_QUESTIONS}</span>
          </span>
          <span class="flex">
            <span>A:&nbsp;</span>
            <span>
              <a href={MAIL_TO} target="_blank" rel="noopener noreferrer">
                {MAIL}
              </a>
            </span>
          </span>
        </p>
      </section>
    </main>

    <footer>
      <hr />
      <div class="flex space-between">
        <p>{COPYRIGHT}</p>
        <p>{YEAR}</p>
      </div>
    </footer>
  </body>
</html>

<style>
  body {
    max-width: 375px;
    margin: 0 auto;
    padding: 4rem 2rem;
    font-family:
      Ubuntu Mono,
      monospace;
    line-height: 1.25;
    color: #404040;
    background: repeating-linear-gradient(
      #f5f5f5 0px,
      #f5f5f5 1px,
      #fafafa 1px,
      #fafafa 5px
    );
  }
  h1 {
    font-family: "VT323", monospace;
    font-size: 4rem;
    font-weight: 400;
  }
  h3 {
    font-family: "VT323", monospace;
    font-size: 1.5rem;
    font-weight: 400;
  }
  a {
    font-weight: 700;
    color: #749473;
  }
  a:hover {
    background-color: #e3eae1;
  }
  section {
    margin: 4rem 0;
  }
  footer {
    margin: 16rem 0 0 0;
    font-family: "VT323", monospace;
    color: #737373;
  }
  .flex {
    display: flex;
  }
  .space-between {
    justify-content: space-between;
  }
  .my-12 {
    margin-top: 12rem;
    margin-bottom: 12rem;
  }
</style>
